<!DOCTYPE html>
<html>
<head>
  <title>MentionTagger</title>
  <%= stylesheet_link_tag    "mention-tagger/application", :media => "all" %>
  <%= javascript_include_tag "mention-tagger/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
